@import './fonts';
@import './header';
@import './sekt';
@import './normalize';
@import './main';
@import './footer';

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    font-family: 'graphik_lcgregular';
}